

{{#each this}}
<li data-id="{{id}}" class="article-list__item">
  <img class="article-image" src="{{{ poster_path }}}" data-true alt="movie poster image">
{{!-- <img src="" alt=""> --}}

    <h2 class="film-title">{{title}}</h2>
    <div class="inner" data-id="{{id}}"></div>
</li>
{{/each}}
