
.hiddenButton {
  opacity: 0;
  visibility: hidden;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

/* MOVIES LIST ==========================================*/

.movies-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.movie {
  height: 250px;
  position: relative;
  cursor: pointer;
  transition: all 300ms linear;
}
.movie:hover {
  transform: scale(1.03);
}
.poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.movie-title {
  position: relative;
  z-index: 1;
  left: 20px;
  bottom: 50px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: 0;
  color: #fff;
}
.inner {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(
    bottom,
    #000 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all 200ms linear;
}
.inner:hover {
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.47);
}
/* BUTTONS PAGINATION */
.pagination-box {
  margin: 28px auto 24px;
  display: flex;
  justify-content: space-between;
  width: 210px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.pagination-box-button {
  width: 76px;
  font-size: 18px;
  border-radius: 6px;
  background: #f8f8f8;
  border: 1px rgb(199, 195, 195) solid;

  transition: all 200ms linear;
  outline: none;
  cursor: pointer;
}
.pagination-box-button:hover {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.hiddenButton {
  opacity: 0;
  visibility: hidden;
}
.pagination-box-info {
  border-radius: 6px;
  border: 1px rgb(199, 195, 195) solid;
  height: 30px;
  width: 30px;
  background: #f8f8f8;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 2.2;
}